# Analyzing Crime In Los Angeles

### Background
Los Angeles, California ðŸ˜Ž. The City of Angels. Tinseltown. The Entertainment Capital of the World! Known for its warm weather, palm trees, sprawling coastline, and Hollywood, along with producing some of the most iconic films and songs!

However, as with any highly populated city, it isn't always glamorous and there can be a large volume of crime. This is the juncture where the project objective assumes significance.

### Objective
Support the Los Angeles Police Department (LAPD) by cleaning and analyzing the crime data to identify patterns in criminal behavior. The LAPD plans to use our insights to allocate resources effectively to tackle various crimes in different areas.

### TO DO
- Clean and prepare the dataset for analysis
- Perform exploratory data analysis
- Formulate and address questions related to crime trends, patterns, and factors influencing crime rates.

<hr>
<hr>

In [1]:
# Importing Necessary Libraries

import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import datetime

<hr>

### Data Collection & Inspection

In [2]:
print("Loading Dataset.....")

df = pd.read_csv("crimes.csv")
df.head()

Loading Dataset.....

,DR_NO,Date Rptd,DATE OCC,TIME OCC,AREA,AREA NAME,Rpt Dist No,Part 1-2,Crm Cd,Crm Cd Desc,...,Status,Status Desc,Crm Cd 1,Crm Cd 2,Crm Cd 3,Crm Cd 4,LOCATION,Cross Street,LAT,LON
0,10304468,01/08/2020 12:00:00 AM,01/08/2020 12:00:00 AM,2230,3,Southwest,377,2,624,BATTERY - SIMPLE ASSAULT,...,AO,Adult Other,624.0,NaN,NaN,NaN,1100 W 39TH PL,NaN,34.0141,-118.2978
1,190101086,01/02/2020 12:00:00 AM,01/01/2020 12:00:00 AM,330,1,Central,163,2,624,BATTERY - SIMPLE ASSAULT,...,IC,Invest Cont,624.0,NaN,NaN,NaN,700 S HILL ST,NaN,34.0459,-118.2545
2,200110444,04/14/2020 12:00:00 AM,02/13/2020 12:00:00 AM,1200,1,Central,155,2,845,SEX OFFENDER REGISTRANT OUT OF COMPLIANCE,...,AA,Adult Arrest,845.0,NaN,NaN,NaN,200 E 6TH ST,NaN,34.0448,-118.2474
3,191501505,01/01/2020 12:00:00 AM,01/01/2020 12:00:00 AM,1730,15,N Hollywood,1543,2,745,VANDALISM - MISDEAMEANOR ($399 OR UNDER),...,IC,Invest Cont,745.0,998.0,NaN,NaN,5400 CORTEEN PL,NaN,34.1685,-118.4019
4,191921269,01/01/2020 12:00:00 AM,01/01/2020 12:00:00 AM,415,19,Mission,1998,2,740,"VANDALISM - FELONY ($400 & OVER, ALL CHURCH VA...",...,IC,Invest Cont,740.0,NaN,NaN,NaN,14400 TITUS ST,NaN,34.2198,-118.4468

In [3]:
print("Number of records (rows) in dataset : {}".format(df.shape[0]))
print("Number of attributes (columns) in dataset : {}".format(df.shape[1]))

Number of records (rows) in dataset : 820599
Number of attributes (columns) in dataset : 28

In [4]:
print("Information On Dataset")
df.info()

Information On Dataset
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 820599 entries, 0 to 820598
Data columns (total 28 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   DR_NO           820599 non-null  int64
 1   Date Rptd       820599 non-null  object
 2   DATE OCC        820599 non-null  object
 3   TIME OCC        820599 non-null  int64
 4   AREA            820599 non-null  int64
 5   AREA NAME       820599 non-null  object
 6   Rpt Dist No     820599 non-null  int64
 7   Part 1-2        820599 non-null  int64
 8   Crm Cd          820599 non-null  int64
 9   Crm Cd Desc     820599 non-null  object
 10  Mocodes         707114 non-null  object
 11  Vict Age        820599 non-null  int64
 12  Vict Sex        712653 non-null  object
 13  Vict Descent    712645 non-null  object
 14  Premis Cd       820589 non-null  float64
 15  Premis Desc     820116 non-null  object
 16  Weapon Used Cd  286078 non-null  float64
 17  Weapon Desc     286078 non-null  object
 18  Status          820599 non-null  object
 19  Status Desc     820599 non-null  object
 20  Crm Cd 1        820589 non-null  float64
 21  Crm Cd 2        60413 non-null   float64
 22  Crm Cd 3        2025 non-null    float64
 23  Crm Cd 4        60 non-null      float64
 24  LOCATION        820599 non-null  object
 25  Cross Street    131214 non-null  object
 26  LAT             820599 non-null  float64
 27  LON             820599 non-null  float64
dtypes: float64(8), int64(7), object(13)
memory usage: 175.3+ MB

#### Discriptive Statistics Of Dataset

In [5]:
df.describe(include=[np.number]).round(3)

# similar to 
# df.describe().round(3)

,DR_NO,TIME OCC,AREA,Rpt Dist No,Part 1-2,Crm Cd,Vict Age,Premis Cd,Weapon Used Cd,Crm Cd 1,Crm Cd 2,Crm Cd 3,Crm Cd 4,LAT,LON
count,8.205990e+05,820599.000,820599.000,820599.000,820599.000,820599.000,820599.000,820589.000,286078.000,820589.000,60413.000,2025.000,60.000,820599.000,820599.000
mean,2.161299e+08,1335.627,10.712,1117.592,1.414,500.804,29.806,305.759,362.917,500.542,957.478,983.615,990.750,33.605,-116.726
std,1.083045e+07,654.021,6.094,609.361,0.493,207.808,21.777,216.670,123.754,207.596,111.524,52.845,27.908,3.970,13.786
min,8.170000e+02,1.000,1.000,101.000,1.000,110.000,-3.000,101.000,101.000,110.000,210.000,310.000,821.000,0.000,-118.668
25%,2.102046e+08,900.000,6.000,621.000,1.000,331.000,7.000,101.000,310.000,331.000,998.000,998.000,998.000,34.010,-118.429
50%,2.201176e+08,1415.000,11.000,1142.000,1.000,442.000,31.000,203.000,400.000,442.000,998.000,998.000,998.000,34.058,-118.319
75%,2.220056e+08,1900.000,16.000,1617.000,2.000,626.000,45.000,501.000,400.000,626.000,998.000,998.000,998.000,34.162,-118.273
max,2.399165e+08,2359.000,21.000,2199.000,2.000,956.000,120.000,976.000,516.000,956.000,999.000,999.000,999.000,34.334,0.000

In [6]:
df.describe(include=[object])

# here, similar to
# df.describe(include=['O'])

,Date Rptd,DATE OCC,AREA NAME,Crm Cd Desc,Mocodes,Vict Sex,Vict Descent,Premis Desc,Weapon Desc,Status,Status Desc,LOCATION,Cross Street
count,820599,820599,820599,820599,707114,712653,712645,820116,286078,820599,820599,820599,131214
unique,1385,1385,21,138,273856,5,20,306,79,6,6,63719,9688
top,02/03/2023 12:00:00 AM,12/02/2022 12:00:00 AM,Central,VEHICLE - STOLEN,0344,M,H,STREET,"STRONG-ARM (HANDS, FIST, FEET OR BODILY FORCE)",IC,Invest Cont,800 N ALAMEDA ST,BROADWAY
freq,924,1130,55209,87888,33541,338824,251794,207601,153313,656897,656897,1486,2184

In [7]:
print("Column Names")
df.columns

Column Names

Index(['DR_NO', 'Date Rptd', 'DATE OCC', 'TIME OCC', 'AREA', 'AREA NAME',
       'Rpt Dist No', 'Part 1-2', 'Crm Cd', 'Crm Cd Desc', 'Mocodes',
       'Vict Age', 'Vict Sex', 'Vict Descent', 'Premis Cd', 'Premis Desc',
       'Weapon Used Cd', 'Weapon Desc', 'Status', 'Status Desc', 'Crm Cd 1',
       'Crm Cd 2', 'Crm Cd 3', 'Crm Cd 4', 'LOCATION', 'Cross Street', 'LAT',
       'LON'],
      dtype='object')

<hr>
<hr>